
body {
    background-color: #0052a9;
}
h1 {
    color: white;
}

h2 {
    color: white;
}
#myDiv {
    font-size: 36px;
}
button {
    width: 55px;
    color: black;
}
h1, h2 {
    text-align: center;
    text-weight: bold;
}

p, p1, p2, p3, p4, p5, p6 {
    color: white;
}